html, body {

  margin: 0;
  padding: 0;

}

body {
  max-width: 100vw;
  background: rgba(0, 0, 0, 0) url("https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png") repeat scroll 0% 0%;
}

main {
  display: flex;
}

header {
  padding: 1rem;
}

input {
  font-size: 1rem;
}

span {
  padding: 10%;
}

.nav-toggle {
  width: 300px;
  height: 100%;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.search-result {
  list-style: none;
  font-weight: bold;
  visibility: visible;
}

.App {
  text-align: center;
}



.App-header {
  background-color: transparent;
  border: 2px solid white;
  height: 100%;
  color: #000;
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

#map {
  height: 80vh;
  left: 30%;
  position: absolute;
  right: 0px;
}

#places-search {
    padding: 4%;
    margin: 3%;
    margin-left: 3%;
    margin-left: 10%;
    padding-left: 0;
    box-shadow: 0px 2px 0.1px rgba(255, 200, 0, 0.9);
    width: 83%;
    border: transparent;
}

.text {
  padding-bottom: 2%;
}

.search {
  width: 28vw;
  padding-top: 10px;
}

.item {
  padding: 4%;
  margin: 4%;
  margin-left: 0;
  padding-left: 0;
  box-shadow: 0px 2px 0.3px rgba(0, 100, 200, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #eee;
}

@media all and (max-width: 767px) {
  .nav-toggle {
    display: block;
  }

  .App-header {
    width: 100%;
  }

  #map {
    width: 100%;
    position: fixed;
    overflow: auto;
    left: auto;
  }

  .search {
    position: fixed;
    width: 250px;
    left: -100%;
    transition: all 500ms ease-in-out;
    z-index: 99;
  }

  .search.toggle {
    left: 0;
  }
}


